#header-content {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1em;
    height: 2.5em;
    background-color: #028FF2;
    text-align: center;
}

header p {
    margin: 0;
    line-height: 2.5em;
    color: #ffffff;
}

#header-exit {
    position: absolute;
    padding-left: 0.5em;
}



.am-container-enter {
    text-align: center;

}

.am-container-enter p {
    margin: 0;
}

#animate-number {
    font-size: 1.125em;
}

.animate-number-one {
    display: inline-block;
    min-width: 10px;
    color: #ffffff;
    line-height: 1.8em;
    width: 1.6em;
    height: 1.83em;
    background-image: url("../img/animate-number.png");
    background-size: 1.6em 1.83em;
}

#enter-button {
    background-color: #028FF2;
    color: #ffffff;
    display: inline-block;
    padding: 0.6em 1.5em;
    border-radius: 0.3em;
}

#enter-button img {
    height: 1em;
}

.color-gray {
    color: #aaaaaa;
}





@media (min-width: 320px) {
    body {font-size: 15px;}
}

@media (min-width: 375px) {
    body {font-size: 16px;}
}

@media (min-width: 414px) {
    body {font-size: 18px;}
}

@media (min-width: 1000px) {
    body {font-size: 22px;}
}