html,body {
    height: 100%;
}

#header-content {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1em;
    height: 2.5em;
    background-color: #028FF2;
}

header p {
    margin: 0;
    line-height: 2.5em;
    color: #ffffff;
}
#header-left {
    float: left;
    padding-left: 0.5em;
}
#header-right {
    float: right;
    padding-right: 0.5em;
}
#header-center {
    text-align: center;
}

.am-container {
    text-align: center;
}

#title {
    font-size: 1.125em;
}

#animate-number {
    font-size: 1.125em;
}

.animate-number-one {
    display: inline-block;
    min-width: 10px;
    color: #ffffff;
    line-height: 1.9em;
    width: 1.6em;
    height: 1.85em;
    background-image: url("../img/animate-number.png");
    background-size: 1.6em 1.83em;
    background-repeat: no-repeat;
}

#enter-button {
    background-color: #028FF2;
    color: #ffffff;
    display: inline-block;
    line-height: 1em;
    padding: 0.8em 1.5em;
    border-radius: 0.3em;
}

#enter-button img {
    height: 1.2em;
}

.color-gray {
    color: #aaaaaa;
}

.footer1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
}
.footer2 {
    text-align: center;
    letter-spacing: 0.1em;
}







@media (min-width: 320px) {
    body {font-size: 15px;}
}

@media (min-width: 375px) {
    body {font-size: 16px;}
}

@media (min-width: 414px) {
    body {font-size: 18px;}
}

@media (min-width: 1000px) {
    body {font-size: 22px;}
}