
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    position: relative;
}

#header-content {
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;
}

#header-content p {
    margin: 0;
}

#header-title {
    text-align: center;
    font-size: 1.25em;
    padding-bottom: 0.6em;
}

#circle-progress {
    width: 37%;
    padding-top: 2em;
    margin: 0 auto;
}

#total-grade {
    text-align: center;
    font-size: 1.25em;
}

#paihangbang {
    font-size: 1.25em;
    float: right;
    padding: 0 0.1em;
    color: #A311FF;
    border: 1px solid #A311FF;
}

#percent-num {
    position: absolute;
    bottom: 0.2em;
    text-align: center;
}

.border-right {
    border-right: 1px solid #fff;
}

.border-right-gray {
    border-right: 1px solid #aaaaaa;
}

#course-list {
    text-align: center;
}

#course-list p {
    margin: 0;
}

hr {
    margin: 0;
}

.course-list-gufen>div:nth-child(1) {
    line-height: 3.25em;
}
.course-list-gufen>div:nth-child(2) {
    line-height: 3.25em;
    color: #999999;
}
.course-list-gufen>div:nth-child(3)>p::after {
    content: '估分';
    background-color: #FF6633;
    color: #fff;
    padding: 0.2em 1.15em 0.2em 1.15em;
    border-radius: 0.2em;
    line-height: 3.25em;
    /*这里有文字行高，垂直居中问题*/
}

.course-list-gufenwancheng>div:nth-child(1) {
    line-height: 3.25em;
}
.course-list-gufenwancheng>div:nth-child(2) {
    line-height: 3.25em;
    color: #FF6633;
}
.course-list-gufenwancheng>div:nth-child(3)>p::after {
    content: '估分完成';
    color: #FF6633;
    line-height: 3.25em;
}

.course-list-chongxingufen>div:nth-child(1) {
    line-height: 3.25em;
}
.course-list-chongxingufen>div:nth-child(2) {
    line-height: 3.25em;
    color: #FF6633;
}
.course-list-chongxingufen>div:nth-child(3)>p::after {
    content: '重新估分';
    background-color: #FF6633;
    color: #fff;
    padding: 0.2em 0.15em 0.2em 0.15em;
    border-radius: 0.2em;
    line-height: 3.25em;
}

.footer1 {
    position: absolute;
    bottom: 0;
    /*margin-top: 1em;*/
    width: 100%;
    text-align: center;
}
.footer2 {
    margin-top: 1em;
    width: 100%;
    text-align: center;
}
footer>p {
    display: inline-block;
    padding: 0.2em 0.8em;
    border: 1px solid #028FF2;
    border-radius: 0.2em;
    font-size: 1.25em;
    color: #028FF2;
    letter-spacing: 0.1em;
}




@media (min-width: 320px) {
    body {font-size: 15px;}
}

@media (min-width: 375px) {
    body {font-size: 16px;}
}

@media (min-width: 414px) {
    body {font-size: 18px;}
}

@media (min-width: 1000px) {
    body {font-size: 22px;}
}